body {
    margin: auto;
    width: 1024px;
    background: #999;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header {
    height: 30px;
    background: #999;
/*    background: #999 url('http://static2.chartbeat.com/images/marketing/ui/bg-texture.png');*/
}

#title {
    color: #FFD700;
}

.container_12 {
    background: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#grid-header {
    background:#fff;
    padding-left:20px;
    padding:0;
    margin:0 20px;
}

.pie_chart {
    margin: 0 auto;
}
.chart {
    text-align: center;
    border: 1px solid gray;
    padding: 0px;
    margin: 0px 5px;
    height: 400px;
}

.clearfix{
        text-align:left;
    }

.count{
        display:inline-block;
        float:right;
        text-align:right;
        width:60px;
    }
.name{
        display:inline-block;
        overflow:hidden;
        text-overflow:ellipsis;
        whitespace:nowrap;
        width:160px;
        text-align:left;
    }

#last_table {
    border-right: 0px;
}
.table {
    text-align: left;
    padding: 0px;
    margin: 0px 5px;
    border-right: 1px dotted gray;
}

.table h3{
    padding-left: 35px;
}

#separator {
    border-bottom: 1px dotted #CCC;
}
